alabaster==0.7.12
appdirs==1.4.4
arabic-reshaper==2.1.3
astunparse==1.6.3
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.10.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==35.0.0
cycler==0.10.0
Cython==0.29.24
decorator==5.1.0
distro==1.6.0
doc2dash==2.3.0
docutils==0.17.1
dukpy==0.2.3
esprima==4.0.1
et-xmlfile==1.1.0
execnet==1.9.0
freetype-py==2.2.0
future==0.18.2
gevent==21.8.0
gitdb==4.0.7
GitPython==3.1.24
glfw==2.3.0
greenlet==1.1.2
idna==3.3
imageio==2.9.0
imageio-ffmpeg==0.4.5
imagesize==1.2.0
importlib-metadata==4.8.1
iniconfig==1.1.1
javascripthon==0.11
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.2
json-tricks==3.15.5
keyring==23.2.1
kiwisolver==1.3.2
macropy3==1.1.0b2
MarkupSafe==2.0.1
matplotlib==3.4.3
moviepy==1.0.3
msgpack==1.0.2
msgpack-numpy==0.4.7.1
numexpr==2.7.3
numpy==1.21.2
opencv-python==4.5.3.56
openpyxl==3.0.9
packaging==21.0
pandas==1.3.4
parso==0.8.2
Pillow==8.4.0
pkg_resources==0.0.0
pkginfo==1.7.1
pluggy==1.0.0
proglog==0.1.9
psutil==5.8.0
PsychoPy==2021.2.3
py==1.10.0
pycparser==2.20
pygame==2.0.2
pyglet==1.4.0
Pygments==2.10.0
pyo==1.0.4
PyOpenGL==3.1.5
pyparallel==0.2.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyserial==3.5
pytest==6.2.5
pytest-forked==1.3.0
pytest-timeout==2.0.1
pytest-xdist==2.4.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-gitlab==2.10.1
python-vlc==3.0.12118
python-xlib==0.31
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
questplus==2019.4
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
scipy==1.7.1
SecretStorage==3.3.1
six==1.16.0
smmap==5.0.0
snowballstemmer==2.1.0
sounddevice==0.4.2
SoundFile==0.10.3.post1
soupsieve==2.2.1
SpeechRecognition==3.8.1
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tables==3.6.1
toml==0.10.2
tqdm==4.62.3
twine==3.4.2
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
webencodings==0.5.1
websocket-client==1.2.1
wxPython==4.1.0
xarray==0.19.0
xlrd==2.0.1
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
